<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myediaryfonseka">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PlaylistPage"
            android:label="@string/title_activity_playlist_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PicturesPage"
            android:label="@string/title_activity_pictures_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotesPage"
            android:label="@string/title_activity_notes_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EntryPage"
            android:label="@string/title_activity_entry_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomePage"
            android:label="@string/title_activity_welcomepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>